﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Main.aspx.cs" Inherits="DebevoiseWebView" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script language="javascript" type="text/javascript">
// <![CDATA[

      

// ]]>
    </script>
</head>
<body>
     <form id="form2" runat="server">
   <div id="div1">    
    <img alt="Collapse" src="Images/minus.png" onclick="HideUnhideQueryTab(this)" align="right" />              
     <label>Query</label><br />
     <textarea runat="server" id="textbox_query" rows="2" cols="10" ></textarea><br /><br />
     <asp:Button ID="Button2" runat="server" Font-Bold="False" onclick="Unnamed1_Click" Text="Search" 
             Width="63px" />
     <input id="insider" runat="server" type='checkbox' /> <label style="font-size:small;">Include Insider Filings</label>
       
    </div>

    <div>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody><tr class="ccbnOutline"><td><table border="0" cellpadding="3" cellspacing="1" width="100%">
<tbody><tr class="ccbnBgTblTtl">
<td nowrap="nowrap" valign="top"><span class="ccbnTblTtl">Filing Date</span></td>
<td nowrap="nowrap" valign="top"><span class="ccbnTblTtl">Form</span></td>
<td nowrap="nowrap" valign="top"><span class="ccbnTblTtl">Description</span></td>
<td nowrap="nowrap" valign="top"><span class="ccbnTblTtl">Filing Group</span></td>
<td colspan="4" align="center" nowrap="nowrap" valign="top"><span class="ccbnTblTtl">Downloads</span></td></tr>
</tbody>

</table>
    
    </div>
    </form>
</body>
</html>
